body{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background:dimgray;
    color:white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: black;
}
.img-1,.img-2{
    flex:  1;
    overflow: hidden;
}
.img-1 img,.img-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}