.container {
    display: flex;
}
.left{
    flex: 2;
}
.right{
    flex: 1;
    flex-direction: column;
}
.left img {
    display: block;
    width: 100%;
    height: auto;
}
.right img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}
