body{
    background-color: black;
}
.header{
    color: white;
    text-align: center;
}
.header h1{
    font-size: 50px;
    font-family: sans-serif;
}
.content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.content img{
    width: 80%;
    height: auto;
    display: block;
}
.content a{
    width: 50%;
    height: auto;
    display: inline-block;
    text-decoration: none;
}
.content h2{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    width: 100%;
    margin: 0;
}